services:
  postgrest_multi:
    build: .
    container_name: postgrest_multi
#    ports:
#      - "3000-3010:3000-3010"
    env_file:
      - .env
    networks:
      - swag_network
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "/usr/local/bin/healthcheck.sh"]
      interval: 60s
      timeout: 5s
      retries: 3

networks:
  swag_network:
    driver: bridge
    external: true
