.env
*.pyc
__pycache__/
*.log
.idea/
.vscode
*.whl
*.caffemodel
*.prototxt
huggingface/
www/
log/
fail2ban/
dns-conf/
letsencrypt/
keys/
proxy-confs
linuxserver/swag/config/nginx/auth*
linuxserver/swag/config/nginx/ldap*
linuxserver/swag/config/.donoteditthisfile.conf
*.pem
