services:
  manager:
    container_name: manager
    build: .
    ports:
      - "127.0.0.1:8082:8000"
    volumes:
      - /var/screenshots:/var/screenshots
      - /proc:/mnt/proc
      - /tmp:/mnt/tmp
      - /var/lib/postgresql:/mnt/postgresql
      - /var/run/docker.sock:/var/run/docker.sock
    env_file: ../.env
    networks:
      - swag_network
    restart: always

    healthcheck:
      test: ["CMD-SHELL", "curl -sS http://localhost:8000 | grep 'healthy' || exit 1"]
      interval: 60s
      retries: 3
      start_period: 10s
      timeout: 5s

networks:
  swag_network:
    driver: bridge
    external: true
