services:
  watchtower:
    container_name: watchtower
    image: containrrr/watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command:
      - --monitor-only
      - --revive-stopped
      - --no-pull
      - --cleanup=false
      - --interval
      - "600"
