services:
  django:
    build: .
    container_name: django_app
#    ports:
#      - "8090:8000"
    ports:
      - "127.0.0.1:8084:8000"
    volumes:
      - .:/app
      - staticfiles:/app/staticfiles
    env_file:
      - .env
    networks:
      - swag_network
    restart: always
    command: gunicorn api.wsgi:application --bind 0.0.0.0:8000

volumes:
  staticfiles:
    external: true
    name: linuxserver_staticfiles

networks:
  swag_network:
    driver: bridge
    external: true
